---
http_interactions:
- request:
    method: get
    uri: http://api.stackexchange.com/2.2/users/1397997/questions?order=desc&page=1&site=stackoverflow&sort=activity
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"tags":["android","android-activity","stack"],"owner":{"reputation":383,"user_id":1397997,"user_type":"registered","accept_rate":77,"profile_image":"http://www.gravatar.com/avatar/18cfe414c4e04dadef2c438d619cf057?s=128&d=identicon&r=PG","display_name":"Jasper","link":"http://stackoverflow.com/users/1397997/jasper"},"is_answered":true,"view_count":400,"accepted_answer_id":15880363,"answer_count":2,"score":0,"last_activity_date":1398862646,"creation_date":1365426918,"last_edit_date":1398862646,"question_id":15880056,"link":"http://stackoverflow.com/questions/15880056/reopen-a-specific-activity-from-stack","title":"(re)open
        a specific activity from stack"},{"tags":["android","android-intent","bitmap","nullpointerexception","onactivityresult"],"owner":{"reputation":383,"user_id":1397997,"user_type":"registered","accept_rate":77,"profile_image":"http://www.gravatar.com/avatar/18cfe414c4e04dadef2c438d619cf057?s=128&d=identicon&r=PG","display_name":"Jasper","link":"http://stackoverflow.com/users/1397997/jasper"},"is_answered":true,"view_count":27,"accepted_answer_id":23202608,"answer_count":1,"score":[...]
