---
http_interactions:
- request:
    method: get
    uri: http://api.stackexchange.com/2.2/users/1397997/answers?order=desc&page=1&site=stackoverflow&sort=activity
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"owner":{"reputation":383,"user_id":1397997,"user_type":"registered","accept_rate":77,"profile_image":"http://www.gravatar.com/avatar/18cfe414c4e04dadef2c438d619cf057?s=128&d=identicon&r=PG","display_name":"Jasper","link":"http://stackoverflow.com/users/1397997/jasper"},"is_accepted":true,"score":0,"last_activity_date":1396348575,"creation_date":1396348575,"answer_id":22783363,"question_id":22782960},{"owner":{"reputation":383,"user_id":1397997,"user_type":"registered","accept_rate":77,"profile_image":"http://www.gravatar.com/avatar/18cfe414c4e04dadef2c438d619cf057?s=128&d=identicon&r=PG","display_name":"Jasper","link":"http://stackoverflow.com/users/1397997/jasper"},"is_accepted":false,"score":0,"last_activity_date":1362564788,"creation_date":1362564788,"answer_id":15244436,"question_id":15244221},{"owner":{"reputation":383,"user_id":1397997,"user_type":"registered","accept_rate":[...]
